
@font-face {
    font-family: 'pokemon';
    src: url('../files/webfontkit-20220608-182920/pokemongb-raeo-webfont.woff2') format('woff2'),
         url('../files/webfontkit-20220608-182920/pokemongb-raeo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.App{
    color: white;
    font-family: 'pokemon';
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.title-card{
    padding: .2rem 2rem;
    text-align: center;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
}
.card{
    
    min-height: 300px;

}
.pokelist{
    margin: auto;
    max-width: 978px;
    padding-top: 1rem;
}
.nav-container{
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: rgb(240, 240, 240);
}

.red-part{
    background-color: rgb(156, 23, 23);
    height: 50%;
}

.white-part{

}
.blackbelt{
    background-color: #000;
    height:10%;
}